---
import Layout from "../layouts/Layout.astro";
import ChartComponent from "../components/ui/DayMorning.jsx";
import ChartComponent2 from "../components/ui/DayAfternoon.jsx";
import GraficNumberJornada from "../components/ui/ChartStudentMorning.jsx";
import GraficNumberJornadaAfternoon from "../components/ui/ChartStudentAfternoon.jsx";
---

<Layout title_p="Sistema Escolar || Groups" spanText="Grupos">
    <section class="content columContent">
    <div class="content-aside">
        <div class="form-options">
          <div class="options">
            <div>
              <a
                href="./add_groups"
                style="text-decoration: none;"
                class="btn btn-add icon">add</a
              >
            </div>
            <div>
              <a href="#" style="text-decoration: none;" class="btn btn-disabled icon" name="btn" type="submit" aria-disabled="false">code</a
              >
            </div>
            <div>
              <a href="#" style="text-decoration: none;" class="btn btn-disabled icon" name="btn"  type="submit">print</a>
            </div>
            <a
              href="#"
              style="text-decoration: none;"
              class="btn btn-search-mobile icon">search</a
            >
            <div>
              <a
                href="/login"
                style="text-decoration: none;"
                class="btn btn-exit icon">exit_to_app</a
              >
            </div>
          </div>
        </div>
      </div>
      <div style="width: 100%;">
        <div class="grafic-cont">
        <div class="containerTitle sss2">
          <h2>Jornada Mañana</h2>
        </div>
        <ChartComponent client:only="react" />
      </div>
    </div>
      <GraficNumberJornada client:only="react" />
      <div class="containerTitle sss">
      <h2>Jornada Tarde</h2>
      </div>
      <div class="grafic-cont">
        <ChartComponent2 client:only="react" />
      </div>
      <GraficNumberJornadaAfternoon client:only="react" />
    </section>

</Layout>

<style>

.containerTitle{
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerTitle h2{
  color: var(--colorTitle);
  font-size: 2.2rem;

}
.containerTitle.sss{
  margin-top:25px;
}
.grafic-cont{
  /* background: #101827; */
  width:100%;
  border-radius:0.4em;
  display: flex;
    gap: 16px;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top:20px
}

@media only screen and (max-width: 1186px){
  .content{
    flex-flow:column;
  }
  .sss2{
  margin-top:35px;
  }
}
.apexcharts-canvas .apexcharts-element-hidden{
  opacity:1;
}
.apexcharts-canvas {
    position: relative;
    user-select: none;
    background-color: #101827;
}
.apexcharts-text{
  fill:var(--colorTitle);
}
</style>