---
import Layout from "../layouts/Layout.astro";
import Table_Periods from "../components/Table_Periods.astro";
---

<Layout title_p="Sistema Escolar || Periods" spanText="Periodos Escolar" />
<section class="content columContent">

<Table_Periods />

  <div class="content-aside">
    <div class="form-options">
      <div class="options">
        <div>
          <a
            href="./add_period"
            style="text-decoration: none;"
            class="btn btn-add icon">add</a
          >
        </div>
        <div>
          <a href="#" style="text-decoration: none;" class="btn btn-disabled icon" name="btn" type="submit" aria-disabled="false">code</a
          >
        </div>
        <div>
          <a href="#" style="text-decoration: none;" class="btn btn-disabled icon" name="btn"  type="submit">print</a>
        </div>
        <a
          href="#"
          style="text-decoration: none;"
          class="btn btn-search-mobile icon">search</a
        >
        <div>
          <a
            href="./index.html"
            style="text-decoration: none;"
            class="btn btn-exit icon">exit_to_app</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<style>
.columContent {
    justify-content: center;
    flex-wrap: wrap-reverse;
    display: flex;
}
@media only screen and (max-width: 1186px){
  .content {
    flex-flow: column-reverse !important;
  }
}
.content-aside {
    display: block;
    float: right;
    width: 27%;
}

@media only screen and (max-width: 1186px){
    .content-aside {
    width: 60%;
    margin-bottom:20px;
}
}
@media only screen and (max-width: 990px) {
    .content-aside{
        width:100% !important;
    }
    .content {
    float: none;
    width: 94%;
    display: flex;
    flex-flow: column-reverse;
}
}

.content:after,
.content-aside:after {
    display: block;
    content: "";
    clear: both;
}


</style>
