---
import Layout from "../layouts/Layout.astro";
import TableStudentsGolbal from "../components/Table_Students_Golbal.astro";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";

---


<Layout title_p="Sistema Escolar || Students" spanText="Alumnos">
<section class="content columContent">
    <div class="content-aside">
        <div class="form-options">
          <div class="options">
            <div>
              <a
                href="./add_students"
                style="text-decoration: none;"
                class="btn btn-add icon">add</a
              >
            </div>
            <div>
              <a href="#" style="text-decoration: none;" class="btn btn-disabled icon" name="btn" type="submit" aria-disabled="false">code</a
              >
            </div>
            <div>
              <a href="#" style="text-decoration: none;" class="btn btn-disabled icon" name="btn"  type="submit">print</a>
            </div>
            <a
              href="#"
              style="text-decoration: none;"
              class="btn btn-search-mobile icon">search</a
            >
            <div>
              <a
                href="./index.html"
                style="text-decoration: none;"
                class="btn btn-exit icon">exit_to_app</a
              >
            </div>
          </div>
          <div class="search">
            <div class="barra">
              <input
                type="text"
                class="text-search"
                id="txtSearch"
                name="search"
                placeholder="Buscar..."
                autofocus=""
              />
              <button id="btnSearch" class="btn-search icon" type="submit"
                >search</button
              >
            </div>
          </div>
        </div>
    </div>
    <!-- <TableStudentsGolbal /> -->
     <div class="containerLotttie">
      <div class="tittleLottie">
        <h2>¿Algun Alumno que quieras Buscar?🧐</h2>
      </div>
    <div class="lottie" style="width: 500px; height: auto; top:0px; position:relative; ">
      <LottieAnimation src="/LoaderStudents2.json" autoplay="visible" />
  </div>
</div>
    </section>

</Layout>


<style>
@media only screen and (max-width: 1186px){
    .content {
    flex-flow: column;
}

}
.tittleLottie {
    width: 100%;
    text-align: center;
    padding: 30px 8px;
}
.containerLotttie {
    width: 68%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--bacgroundContent);
    box-shadow: 0 2px 2px rgba(73,80,104,0.4);
    border-radius: 0.4em;
    margin: 0px 20px;
    position: relative;
    padding: 20px 20px;
    overflow-x:hidden;
}
.tittleLottie h2 {
    font-size: 2.4em;
    color: #fff;
}

@media only screen and (max-width: 990px){
  .containerLotttie {
    width: 100%;
  }
}
@media only screen and (max-width: 500px){
  .lottie{
    width:400px !important;
  }
}


</style>