---
import Layout from "../layouts/Layout.astro";
import TableStudentsGolbal from "../components/Table_Students_Golbal.astro";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";



const ListStudents = [
  {
    curso: "1A",
    totalStudents: 25,
    tableStudents: TableStudentsGolbal,
  },
  {
    curso: "1B",
    totalStudents: 25,
    tableStudents: TableStudentsGolbal,
  },
  {
    curso: "2A",
    totalStudents: 25,
    tableStudents: TableStudentsGolbal,
  },
  {
    curso: "3A",
    totalStudents: 25,
    tableStudents: TableStudentsGolbal,
  },
  {
    curso: "3B",
    totalStudents: 25,
    tableStudents: TableStudentsGolbal,
  },
  {
    curso: "4A",
    totalStudents: 25,
    tableStudents: TableStudentsGolbal,
  },
  {
    curso: "5B",
    totalStudents: 25,
    tableStudents: TableStudentsGolbal,
  },
  {
    curso: "6A",
    totalStudents: 25,
    tableStudents: TableStudentsGolbal,
  },
  {
    curso: "6B",
    totalStudents: 25,
    tableStudents: TableStudentsGolbal,
  },
  {
    curso: "7B",
    totalStudents: 25,
    tableStudents: TableStudentsGolbal,
  },
  {
    curso: "8A",
    totalStudents: 25,
    tableStudents: TableStudentsGolbal,
  },
  {
    curso: "8B",
    totalStudents: 25,
    tableStudents: TableStudentsGolbal,
  },
  {
    curso: "9A",
    totalStudents: 25,
    tableStudents: TableStudentsGolbal,
  },
  {
    curso: "9B",
    totalStudents: 25,
    tableStudents: TableStudentsGolbal,
  },
  {
    curso: "10A",
    totalStudents: 25,
    tableStudents: TableStudentsGolbal,
  },
  {
    curso: "10B",
    totalStudents: 25,
    tableStudents: TableStudentsGolbal,
  },
  {
    curso: "11A",
    totalStudents: 25,
    tableStudents: TableStudentsGolbal,
  },
  {
    curso: "11B",
    totalStudents: 25,
    tableStudents: TableStudentsGolbal,
  },
  
];

---


<Layout title_p="Sistema Escolar || Students" spanText="Alumnos">
  <section class="content columContent">
    <div class="content-aside">
      <div class="form-options">
        <div class="options">
          <div>
            <a href="./add_students" style="text-decoration: none;" class="btn btn-add icon">add</a>
          </div>
          <div>
            <a href="#" style="text-decoration: none;" class="btn btn-disabled icon" name="btn" type="submit"
              aria-disabled="false">code</a>
          </div>
          <div>
            <a href="#" style="text-decoration: none;" class="btn btn-disabled icon" name="btn" type="submit">print</a>
          </div>
          <a href="#" style="text-decoration: none;" class="btn btn-search-mobile icon">search</a>
          <div>
            <a href="./index.html" style="text-decoration: none;" class="btn btn-exit icon">exit_to_app</a>
          </div>
        </div>
        <div class="LottieInvert">
          <div class="search">
            <div class="barra">
              <input type="text" class="text-search" id="txtSearch" name="search" placeholder="Buscar..." autofocus="" />
              <button id="btnSearch" class="btn-search icon" type="submit">search</button>
            </div>
          </div>
          <div class="containerLotttie">
            <div class="tittleLottie">
              <h2>¿Algun Alumno que quieras Buscar?🧐</h2>
            </div>
            <div class="lottie" style="width: 200px; height: 150px; bottom:25px; position:relative; ">
              <LottieAnimation src="/LoaderStudents2.json" autoplay="visible" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="containerAcordion">
      <div class="acordion">
        <div class="contentCd">
          <div class="label">Curso: <b>1A</b> Total de Alumnos: <b>25</b></div>
          <div class="contenidoad form-gridview">
            <TableStudentsGolbal />
          </div>
        </div>
      </div> -->

    <div class="containerworKingDay">
      <div class="dayMorning" onclick="showTable('morning')">
        <h2>Jornada De Mañana</h2>
        <span>🌞</span>
      </div>
      <div class="dayAfternoon" onclick="showTable('afternoon')">
        <h2>Jornada De tarde</h2>
        <span>⛅</span>
      </div>
    </div>
        <div id="morningTable" class="containerAcordion" style="display: none;">
          {ListStudents.map(student => (
            <div class="acordion" key={student.curso}>
              <div class="contentCd">
                <div class="label">
                  Curso: <b>{student.curso}</b> Total de Alumnos: <b>{student.totalStudents}</b>
                </div>
                <div class="contenidoad form-gridview">
                  <student.tableStudents />
                </div>
              </div>
            </div>
          ))}
        </div>
      </div>
      <table id="afternoonTable" style="display: none;"> </table>
    </div>

  </section>

</Layout>


<style>
.containerworKingDay {
  display: flex;
  width: 67%;
  color: #eef4ff;
  border-radius: 0.4em;

}

.dayMorning {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-right: 1px solid var(--colorhr);
  flex-direction: column;
  box-shadow: var(--bacgroundContent);
  border-radius: 0.4em;
  background: var(--bacgroundContent);
  margin-right: 15px;
}

.dayMorning h2 {
  text-align: center;
  font-size: 2.2em;
}

.dayMorning span {
  font-size: 2em;
}

.dayAfternoon {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  box-shadow: var(--bacgroundContent);
  border-radius: 0.4em;
  background: var(--bacgroundContent);
}

.dayAfternoon h2 {
  text-align: center;
  font-size: 2.2em;
}

.dayAfternoon span {
  font-size: 2em;
}

@media (max-width:541px) {
  .containerworKingDay {
    flex-direction: column;
    width: 100%;
  }

  .dayMorning {
    border-right: 0px;
    border-bottom: 1px solid var(--colorhr);
    margin-bottom: 15px;
    margin-right: 0px;
  }

}


.containerAcordion {
  width: 100%;
}

.acordion {
  width: 71%;

}

.acordion .contentCd {
  position: relative;
  margin: 10px 20px;
}

.acordion .contentCd .label {
  margin: 16px 3%;
  border-radius: 0.4em;
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  box-shadow: 0 2px 2px rgba(73, 80, 104, 0.4);
  background: var(--bacgroundContent);
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
}

.acordion .contentCd .label::before {
  content: '+';
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.acordion .contentCd.active .label::before {
  content: '-';
  transition: 0.5s;
}

.acordion .contentCd .contenidoad {
  position: relative;
  height: 0;
  transform: 0.5s;
  transition: 0.6s;
  overflow-y: auto;
  overflow-x: hidden;
}

.acordion .contentCd.active .contenidoad {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  height: auto;
  padding: 10px;
}


@media only screen and (max-width: 1186px) {
  .content {
    flex-flow: column;
  }

  .containerAcordion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

}

.tittleLottie {
  width: 100%;
  text-align: center;
  padding: 0px 8px;
}

.containerLotttie {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background: var(--bacgroundContent); */
  /* box-shadow: 0 2px 2px rgba(73, 80, 104, 0.4); */
  border-radius: 0.4em;
  /* margin: 0px 20px; */
  position: relative;
  /* padding: 20px 20px; */
  /* overflow-x: hidden; */
}

.tittleLottie h2 {
  font-size: 1em;
  color: #fff;
}

@media only screen and (max-width: 990px) {
  .containerLotttie {
    width: 100%;
  }

  .acordion {
    width: 100%;
  }
}

@media only screen and (max-width: 580px) {
  .acordion .contentCd .label {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media only screen and (max-width: 990px){
  .form-gridview{
    overflow-x: hidden !important;
  }
}

@media only screen and (max-width: 1186px) {
  .content-aside {
    width: 60%;
  }
}
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: auto;
  }
}
</style>

<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function() {
    const acordionItems = document.querySelectorAll('.acordion .contentCd');

    acordionItems.forEach(function(item) {
        const label = item.querySelector('.label');
        const contenido = item.querySelector('.contenidoad');

        // Verificar que el elemento label exista antes de agregar el evento
        if (label) {
            label.addEventListener('click', function() {
                item.classList.toggle('active');
            });
        }

        // Verificar que el elemento contenido exista antes de agregar el evento
        if (contenido) {
            contenido.addEventListener('click', function(event) {
                event.stopPropagation(); // Evitar la propagación del evento
            });
        }
    });

    // Selección de botones para mostrar tablas
    const morningButton = document.querySelector('#morningButton');
    const afternoonButton = document.querySelector('#afternoonButton');

    // Verificar que los botones existan antes de agregar eventos
    if (morningButton) {
        morningButton.addEventListener('click', () => showTable('morning'));
    }
    if (afternoonButton) {
        afternoonButton.addEventListener('click', () => showTable('afternoon'));
    }

    // Manejar el tamaño de la ventana al cargar y al redimensionar
    handleResize();
    window.addEventListener('resize', handleResize);
});

function handleResize() {
    const morningTable = document.getElementById('morningTable');
    const afternoonTable = document.getElementById('afternoonTable');

    if (!morningTable || !afternoonTable) {
        console.error('One or both of the tables are missing in the DOM.');
        return;
    }

    // Verifica el ancho de la pantalla y ajusta el modo de visualización
    const isSmallScreen = window.matchMedia('(max-width: 1186px)').matches;

    // Si ninguna tabla está visible, asegúrate de que el estilo se ajuste correctamente
    if (morningTable.style.display !== 'none') {
        morningTable.style.display = isSmallScreen ? 'flex' : 'block';
    }

    if (afternoonTable.style.display !== 'none') {
        afternoonTable.style.display = isSmallScreen ? 'flex' : 'block';
    }
}

function showTable(timeOfDay) {
    const morningTable = document.getElementById('morningTable');
    const afternoonTable = document.getElementById('afternoonTable');

    if (!morningTable || !afternoonTable) {
        console.error('One or both of the tables are missing in the DOM.');
        return;
    }

    // Verifica el ancho de la pantalla y ajusta el modo de visualización
    const isSmallScreen = window.matchMedia('(max-width: 1186px)').matches;

    // Ocultamos ambas tablas inicialmente
    morningTable.style.display = 'none';
    afternoonTable.style.display = 'none';

    // Mostramos la tabla correspondiente y aplicamos la clase de animación
    if (timeOfDay === 'morning') {
        morningTable.style.display = isSmallScreen ? 'flex' : 'block';
        morningTable.classList.add('fade-in');
        // Eliminar la clase después de la animación
        morningTable.addEventListener('animationend', () => {
            morningTable.classList.remove('fade-in');
        }, { once: true }); // { once: true } asegura que el listener se elimine después de ejecutarse una vez
    } else if (timeOfDay === 'afternoon') {
        afternoonTable.style.display = isSmallScreen ? 'flex' : 'block';
        afternoonTable.classList.add('fade-in');
        // Eliminar la clase después de la animación
        afternoonTable.addEventListener('animationend', () => {
            afternoonTable.classList.remove('fade-in');
        }, { once: true });
    }
}

</script>