---
import Layout from "../layouts/Layout.astro";
import TableUsers from "../components/Table_Users.astro";
---

<Layout title_p="Sistema Escolar || Users" spanText="Usuarios">
    <section class="content">
        <div class="content-aside" id="jjj">
            <div class="form-options">
                <div class="options">
                    <div>
                        <a href="/" style="text-decoration: none;" class="btn btn-add icon activateOption activateOptionPeriods btn-disabled">add</a>
                    </div>
                    <div>
                        <a href="#" style="text-decoration: none;" class="btn btn-disabled icon" type="submit" >code</a>
                    </div>
                    <div>
                        <a href="#" style="text-decoration: none;" class="btn btn-disabled icon" type="submit">print</a>
                    </div>
                    <a href="#" style="text-decoration: none;" class="btn btn-search-mobile icon">search</a>
                    <div>
                        <a href="/login" style="text-decoration: none;" class="btn btn-exit icon">exit_to_app</a>
                    </div>
                </div>
                <div class="search">
                    <div class="barra">
                        <input type="text" class="text-search" placeholder="Buscar..." autofocus="">
                        <button id="btnSearch" class="btn-search icon" type="submit">search</button>
                    </div>
                </div>
            </div>
        </div>

        <TableUsers />

</section>

</Layout>

<style>

</style>