---

const rows = [
    { asignatura: "Matematica", docente: "Donaldo Bola", nota: "4.2" },
    { asignatura: "Historia", docente: "Luis Perez", nota: "3.8" },
    { asignatura: "Historia", docente: "sandra Perez", nota: "1.8" },
    // Agrega más filas aquí
];


const getSvgForGrade = (grade) => {
  const numericGrade = parseFloat(grade);
  if (numericGrade >= 1 && numericGrade <= 2.9) return "/img/svgGades/svg1.svg";
  if (numericGrade >= 3 && numericGrade <= 3.9) return "/img/svgGades/svg3.svg";
  if (numericGrade >= 4 && numericGrade <= 5) return "/img/svgGades/svg2.svg";
  return null; // No SVG para valores fuera de rango
};
---

<div class="form-gridview">
    <table class="default">
      <tbody>

        <th class="checkPadding">
          <input type="checkbox" id="selectAll">
          Asignatura
        </th>
        <th>Docente</th>
        <th>Nota Final</th>
        <th class="center"><a class="icon">visibility</a></th>
      </tr>
      <tr>
        {rows.map(row => (
          <tr>
              <td class="checkPadding">
                <input type="checkbox" id="selectAll" class="rowCheckbox" />
                {row.asignatura}</td>
              <td>{row.docente}</td>
              <td>
                <img src={getSvgForGrade(row.nota)} alt="Nota" width="20" height="20" class="svgNotas"/>
                {/* <svg class="svgNotas" fill="#368c44" viewBox="0 0 512 512" width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" stroke="#368c44"><g id="SVGRepo_bgCarrier" stroke-width="0" height="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Passed_exam"> <path d="M417.875,46H94.2126A13.2576,13.2576,0,0,0,81,59.2126V452.875A13.1835,13.1835,0,0,0,94.2126,466H417.875A13.1072,13.1072,0,0,0,431,452.875V59.2126A13.1814,13.1814,0,0,0,417.875,46ZM238.5,396.3493H151a13.125,13.125,0,0,1,0-26.25h87.5C255.7308,370.3674,255.7757,396.0737,238.5,396.3493Zm0-96.25H151a13.125,13.125,0,0,1,0-26.25h87.5C255.7308,274.1174,255.7757,299.8237,238.5,300.0993ZM273.85,194.75c-.2563,17.2351-25.9829,17.2672-26.25-.0011V126.7623a41.3874,41.3874,0,0,1,82.7747,0V194.75c-.282,17.2458-25.968,17.265-26.25-.0011V176.2866H273.85Zm96.4252,176.2241-43.0493,43.05a12.6979,12.6979,0,0,1-9.2755,3.8506,12.9869,12.9869,0,0,1-9.2755-3.8506l-18.2007-18.2c-11.918-12.3474,6.2036-30.6357,18.551-18.55l8.9252,8.9241,33.7738-33.7738C364.2043,340.5007,382.311,358.6587,370.2755,370.9741Zm0-96.25-43.0493,43.05a12.6979,12.6979,0,0,1-9.2755,3.8506,12.9869,12.9869,0,0,1-9.2755-3.8506l-18.2007-18.2c-11.918-12.3474,6.2036-30.6357,18.551-18.55l8.9252,8.9241,33.7738-33.7738C364.2043,244.2507,382.311,262.4087,370.2755,274.7241Z"></path> <path d="M304.125,126.7623a15.1374,15.1374,0,0,0-30.2747,0v23.2743H304.125Z"></path> </g> </g></svg> */}
                {row.nota}
                </td>
              <td><a class="btnview" href="/view_students"></a></td>
          </tr>
      ))}

        <!-- <tr>
          <th class="checkPadding">
            <input type="checkbox" id="selectAll">
            Asignatura
          </th>
          <th>Docente</th>
          <th>Nota Final</th>
          <th class="center"><a class="icon">visibility</a></th>
        </tr>
        <tr>
          <td class="checkPadding">
           
            Matematica
          </td>
          <td>Donaldo Bola</td>
          <td>
            <svg class="svgNotas" fill="#368c44" viewBox="0 0 512 512" width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" stroke="#368c44"><g id="SVGRepo_bgCarrier" stroke-width="0" height="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Passed_exam"> <path d="M417.875,46H94.2126A13.2576,13.2576,0,0,0,81,59.2126V452.875A13.1835,13.1835,0,0,0,94.2126,466H417.875A13.1072,13.1072,0,0,0,431,452.875V59.2126A13.1814,13.1814,0,0,0,417.875,46ZM238.5,396.3493H151a13.125,13.125,0,0,1,0-26.25h87.5C255.7308,370.3674,255.7757,396.0737,238.5,396.3493Zm0-96.25H151a13.125,13.125,0,0,1,0-26.25h87.5C255.7308,274.1174,255.7757,299.8237,238.5,300.0993ZM273.85,194.75c-.2563,17.2351-25.9829,17.2672-26.25-.0011V126.7623a41.3874,41.3874,0,0,1,82.7747,0V194.75c-.282,17.2458-25.968,17.265-26.25-.0011V176.2866H273.85Zm96.4252,176.2241-43.0493,43.05a12.6979,12.6979,0,0,1-9.2755,3.8506,12.9869,12.9869,0,0,1-9.2755-3.8506l-18.2007-18.2c-11.918-12.3474,6.2036-30.6357,18.551-18.55l8.9252,8.9241,33.7738-33.7738C364.2043,340.5007,382.311,358.6587,370.2755,370.9741Zm0-96.25-43.0493,43.05a12.6979,12.6979,0,0,1-9.2755,3.8506,12.9869,12.9869,0,0,1-9.2755-3.8506l-18.2007-18.2c-11.918-12.3474,6.2036-30.6357,18.551-18.55l8.9252,8.9241,33.7738-33.7738C364.2043,244.2507,382.311,262.4087,370.2755,274.7241Z"></path> <path d="M304.125,126.7623a15.1374,15.1374,0,0,0-30.2747,0v23.2743H304.125Z"></path> </g> </g></svg>
            4.2
          </td>
          <td>
            <a class="btnview" href="/view_students"></a>
          </td>
        </tr>
        <tr>
          <td class="checkPadding">
            <input type="checkbox" class="rowCheckbox">
            Espanol
          </td>
          <td>Darly Polo</td>
          <td>
            <svg class="svgNotas" height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path style="fill:#FFDA79;" d="M426.412,512H85.588c-11.291,0-20.445-9.154-20.445-20.445V40.003 c0-11.291,9.154-20.445,20.445-20.445h94.508c11.291,0,20.445,9.154,20.445,20.445v41.775h110.919V40.003 c0-11.291,9.154-20.445,20.445-20.445h94.508c11.291,0,20.445,9.154,20.445,20.445v451.552C446.857,502.846,437.703,512,426.412,512 z"></path> <path style="fill:#FFD155;" d="M426.412,19.559h-94.508c-11.291,0-20.445,9.154-20.445,20.445v41.775H256V512h170.412 c11.291,0,20.445-9.154,20.445-20.445V40.003C446.857,28.712,437.703,19.559,426.412,19.559z"></path> <path style="fill:#36495E;" d="M331.904,122.667H180.096c-11.291,0-20.445-9.154-20.445-20.445V20.445 C159.652,9.154,168.805,0,180.096,0h151.808c11.291,0,20.445,9.154,20.445,20.445v81.778 C352.348,113.514,343.195,122.667,331.904,122.667z"></path> <g> <path style="fill:#6A82A1;" d="M223.499,275.32h-65.423c-11.291,0-20.445-9.154-20.445-20.445v-65.423 c0-11.291,9.154-20.445,20.445-20.445h65.423c11.291,0,20.445,9.154,20.445,20.445v65.423 C243.943,266.166,234.791,275.32,223.499,275.32z"></path> <path style="fill:#6A82A1;" d="M223.499,422.521h-65.423c-11.291,0-20.445-9.154-20.445-20.445v-65.423 c0-11.291,9.154-20.445,20.445-20.445h65.423c11.291,0,20.445,9.154,20.445,20.445v65.423 C243.943,413.367,234.791,422.521,223.499,422.521z"></path> </g> <g> <path style="fill:#2C3E50;" d="M331.904,0H256v122.667h75.904c11.291,0,20.445-9.154,20.445-20.445V20.445 C352.348,9.154,343.195,0,331.904,0z"></path> <path style="fill:#2C3E50;" d="M353.924,242.609h-73.6c-11.291,0-20.445-9.154-20.445-20.445s9.154-20.445,20.445-20.445h73.6 c11.291,0,20.445,9.154,20.445,20.445S365.215,242.609,353.924,242.609z"></path> <path style="fill:#2C3E50;" d="M353.924,389.81h-73.6c-11.291,0-20.445-9.154-20.445-20.445c0-11.291,9.154-20.445,20.445-20.445 h73.6c11.291,0,20.445,9.154,20.445,20.445C374.369,380.656,365.215,389.81,353.924,389.81z"></path> </g> </g></svg>
            3.2
          </td>
        </tr>
        <tr>
          <td>Quimica</td>
          <td>Alvaro</td>
          <td>
            <svg class="svgNotas" height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path style="fill:#FFDA79;" d="M426.412,512H85.588c-11.291,0-20.445-9.154-20.445-20.445V40.003 c0-11.291,9.154-20.445,20.445-20.445h94.508c11.291,0,20.445,9.154,20.445,20.445v41.775h110.919V40.003 c0-11.291,9.154-20.445,20.445-20.445h94.508c11.291,0,20.445,9.154,20.445,20.445v451.552C446.857,502.846,437.703,512,426.412,512 z"></path> <path style="fill:#FFD155;" d="M426.412,19.559h-94.508c-11.291,0-20.445,9.154-20.445,20.445v41.775H256V512h170.412 c11.291,0,20.445-9.154,20.445-20.445V40.003C446.857,28.712,437.703,19.559,426.412,19.559z"></path> <path style="fill:#36495E;" d="M331.904,122.667H180.096c-11.291,0-20.445-9.154-20.445-20.445V20.445 C159.652,9.154,168.805,0,180.096,0h151.808c11.291,0,20.445,9.154,20.445,20.445v81.778 C352.348,113.514,343.195,122.667,331.904,122.667z"></path> <g> <path style="fill:#6A82A1;" d="M223.499,275.32h-65.423c-11.291,0-20.445-9.154-20.445-20.445v-65.423 c0-11.291,9.154-20.445,20.445-20.445h65.423c11.291,0,20.445,9.154,20.445,20.445v65.423 C243.943,266.166,234.791,275.32,223.499,275.32z"></path> <path style="fill:#6A82A1;" d="M223.499,422.521h-65.423c-11.291,0-20.445-9.154-20.445-20.445v-65.423 c0-11.291,9.154-20.445,20.445-20.445h65.423c11.291,0,20.445,9.154,20.445,20.445v65.423 C243.943,413.367,234.791,422.521,223.499,422.521z"></path> </g> <g> <path style="fill:#2C3E50;" d="M331.904,0H256v122.667h75.904c11.291,0,20.445-9.154,20.445-20.445V20.445 C352.348,9.154,343.195,0,331.904,0z"></path> <path style="fill:#2C3E50;" d="M353.924,242.609h-73.6c-11.291,0-20.445-9.154-20.445-20.445s9.154-20.445,20.445-20.445h73.6 c11.291,0,20.445,9.154,20.445,20.445S365.215,242.609,353.924,242.609z"></path> <path style="fill:#2C3E50;" d="M353.924,389.81h-73.6c-11.291,0-20.445-9.154-20.445-20.445c0-11.291,9.154-20.445,20.445-20.445 h73.6c11.291,0,20.445,9.154,20.445,20.445C374.369,380.656,365.215,389.81,353.924,389.81z"></path> </g> </g></svg>

            3.5
          </td>
        </tr>
        <tr>
          <td>Filosofia</td>
          <td>Gigliola Quintero</td>
          <td>
            <svg class="svgNotas" fill="#bc1a1a" height="20px" width="20px" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" stroke="#bc1a1a"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Failed_exam"> <path d="M417.875,46H94.2126A13.257,13.257,0,0,0,81,59.2126V452.875A13.1821,13.1821,0,0,0,94.2126,466H417.875A13.1086,13.1086,0,0,0,431,452.875V59.2126A13.1836,13.1836,0,0,0,417.875,46ZM238.5,396.3493H151c-17.22-.2692-17.2757-25.9125,0-26.25h87.5C255.7308,370.4293,255.7629,396.0694,238.5,396.3493Zm0-96.25H151c-17.22-.2692-17.2757-25.9125,0-26.25h87.5C255.7308,274.1793,255.7629,299.8194,238.5,300.0993ZM286.3622,194.75c-.2542,17.2137-25.9787,17.2874-26.25-.0011V98.5a13.1635,13.1635,0,0,1,13.125-13.125h49.0009c17.2458.3461,17.2565,25.9627,0,26.25H286.3622v26.25H314.8a13.125,13.125,0,0,1,0,26.25H286.3622Zm67.55,224.0874-16.9745-16.9745L319.963,418.8374a13.2906,13.2906,0,0,1-18.551,0,13.1487,13.1487,0,0,1,0-18.6376l16.9745-16.9755L301.412,366.3374A13.1482,13.1482,0,0,1,319.963,347.7l16.9745,16.9756L353.912,347.7a13.1482,13.1482,0,0,1,18.551,18.6376l-16.9766,16.8869L372.463,400.2C384.4879,412.6487,366.43,430.6838,353.912,418.8374Zm0-96.25-16.9745-16.9745L319.963,322.5874a13.2906,13.2906,0,0,1-18.551,0,13.1487,13.1487,0,0,1,0-18.6376l16.9745-16.9755L301.412,270.0874A13.1482,13.1482,0,1,1,319.963,251.45l16.9745,16.9756L353.912,251.45a13.1482,13.1482,0,1,1,18.551,18.6376l-16.9766,16.8869L372.463,303.95C384.4879,316.3987,366.43,334.4338,353.912,322.5874Z"></path> </g> </g></svg>
            2.8
          </td>
        </tr>
        <tr>
          <td>Biologia</td>
          <td>Maira</td>
          <td>
            <svg class="svgNotas" fill="#368c44" viewBox="0 0 512 512" width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" stroke="#368c44"><g id="SVGRepo_bgCarrier" stroke-width="0" height="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Passed_exam"> <path d="M417.875,46H94.2126A13.2576,13.2576,0,0,0,81,59.2126V452.875A13.1835,13.1835,0,0,0,94.2126,466H417.875A13.1072,13.1072,0,0,0,431,452.875V59.2126A13.1814,13.1814,0,0,0,417.875,46ZM238.5,396.3493H151a13.125,13.125,0,0,1,0-26.25h87.5C255.7308,370.3674,255.7757,396.0737,238.5,396.3493Zm0-96.25H151a13.125,13.125,0,0,1,0-26.25h87.5C255.7308,274.1174,255.7757,299.8237,238.5,300.0993ZM273.85,194.75c-.2563,17.2351-25.9829,17.2672-26.25-.0011V126.7623a41.3874,41.3874,0,0,1,82.7747,0V194.75c-.282,17.2458-25.968,17.265-26.25-.0011V176.2866H273.85Zm96.4252,176.2241-43.0493,43.05a12.6979,12.6979,0,0,1-9.2755,3.8506,12.9869,12.9869,0,0,1-9.2755-3.8506l-18.2007-18.2c-11.918-12.3474,6.2036-30.6357,18.551-18.55l8.9252,8.9241,33.7738-33.7738C364.2043,340.5007,382.311,358.6587,370.2755,370.9741Zm0-96.25-43.0493,43.05a12.6979,12.6979,0,0,1-9.2755,3.8506,12.9869,12.9869,0,0,1-9.2755-3.8506l-18.2007-18.2c-11.918-12.3474,6.2036-30.6357,18.551-18.55l8.9252,8.9241,33.7738-33.7738C364.2043,244.2507,382.311,262.4087,370.2755,274.7241Z"></path> <path d="M304.125,126.7623a15.1374,15.1374,0,0,0-30.2747,0v23.2743H304.125Z"></path> </g> </g></svg>
            4
          </td>
        </tr>
        <tr>
          <td>Fisica</td>
          <td>Alvaro</td>
          <td>
            <svg class="svgNotas" height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path style="fill:#FFDA79;" d="M426.412,512H85.588c-11.291,0-20.445-9.154-20.445-20.445V40.003 c0-11.291,9.154-20.445,20.445-20.445h94.508c11.291,0,20.445,9.154,20.445,20.445v41.775h110.919V40.003 c0-11.291,9.154-20.445,20.445-20.445h94.508c11.291,0,20.445,9.154,20.445,20.445v451.552C446.857,502.846,437.703,512,426.412,512 z"></path> <path style="fill:#FFD155;" d="M426.412,19.559h-94.508c-11.291,0-20.445,9.154-20.445,20.445v41.775H256V512h170.412 c11.291,0,20.445-9.154,20.445-20.445V40.003C446.857,28.712,437.703,19.559,426.412,19.559z"></path> <path style="fill:#36495E;" d="M331.904,122.667H180.096c-11.291,0-20.445-9.154-20.445-20.445V20.445 C159.652,9.154,168.805,0,180.096,0h151.808c11.291,0,20.445,9.154,20.445,20.445v81.778 C352.348,113.514,343.195,122.667,331.904,122.667z"></path> <g> <path style="fill:#6A82A1;" d="M223.499,275.32h-65.423c-11.291,0-20.445-9.154-20.445-20.445v-65.423 c0-11.291,9.154-20.445,20.445-20.445h65.423c11.291,0,20.445,9.154,20.445,20.445v65.423 C243.943,266.166,234.791,275.32,223.499,275.32z"></path> <path style="fill:#6A82A1;" d="M223.499,422.521h-65.423c-11.291,0-20.445-9.154-20.445-20.445v-65.423 c0-11.291,9.154-20.445,20.445-20.445h65.423c11.291,0,20.445,9.154,20.445,20.445v65.423 C243.943,413.367,234.791,422.521,223.499,422.521z"></path> </g> <g> <path style="fill:#2C3E50;" d="M331.904,0H256v122.667h75.904c11.291,0,20.445-9.154,20.445-20.445V20.445 C352.348,9.154,343.195,0,331.904,0z"></path> <path style="fill:#2C3E50;" d="M353.924,242.609h-73.6c-11.291,0-20.445-9.154-20.445-20.445s9.154-20.445,20.445-20.445h73.6 c11.291,0,20.445,9.154,20.445,20.445S365.215,242.609,353.924,242.609z"></path> <path style="fill:#2C3E50;" d="M353.924,389.81h-73.6c-11.291,0-20.445-9.154-20.445-20.445c0-11.291,9.154-20.445,20.445-20.445 h73.6c11.291,0,20.445,9.154,20.445,20.445C374.369,380.656,365.215,389.81,353.924,389.81z"></path> </g> </g></svg>
            3
          </td>
        </tr>
        <tr>
          <td>Ed.Fisica</td>
          <td>Jesús Antonio Olvera Gálvez</td>
          <td>
            <svg class="svgNotas" fill="#368c44" viewBox="0 0 512 512" width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" stroke="#368c44"><g id="SVGRepo_bgCarrier" stroke-width="0" height="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Passed_exam"> <path d="M417.875,46H94.2126A13.2576,13.2576,0,0,0,81,59.2126V452.875A13.1835,13.1835,0,0,0,94.2126,466H417.875A13.1072,13.1072,0,0,0,431,452.875V59.2126A13.1814,13.1814,0,0,0,417.875,46ZM238.5,396.3493H151a13.125,13.125,0,0,1,0-26.25h87.5C255.7308,370.3674,255.7757,396.0737,238.5,396.3493Zm0-96.25H151a13.125,13.125,0,0,1,0-26.25h87.5C255.7308,274.1174,255.7757,299.8237,238.5,300.0993ZM273.85,194.75c-.2563,17.2351-25.9829,17.2672-26.25-.0011V126.7623a41.3874,41.3874,0,0,1,82.7747,0V194.75c-.282,17.2458-25.968,17.265-26.25-.0011V176.2866H273.85Zm96.4252,176.2241-43.0493,43.05a12.6979,12.6979,0,0,1-9.2755,3.8506,12.9869,12.9869,0,0,1-9.2755-3.8506l-18.2007-18.2c-11.918-12.3474,6.2036-30.6357,18.551-18.55l8.9252,8.9241,33.7738-33.7738C364.2043,340.5007,382.311,358.6587,370.2755,370.9741Zm0-96.25-43.0493,43.05a12.6979,12.6979,0,0,1-9.2755,3.8506,12.9869,12.9869,0,0,1-9.2755-3.8506l-18.2007-18.2c-11.918-12.3474,6.2036-30.6357,18.551-18.55l8.9252,8.9241,33.7738-33.7738C364.2043,244.2507,382.311,262.4087,370.2755,274.7241Z"></path> <path d="M304.125,126.7623a15.1374,15.1374,0,0,0-30.2747,0v23.2743H304.125Z"></path> </g> </g></svg>
            5
          </td>
        </tr>
        <tr>
          <td>Geometria</td>
          <td>Jesús Antonio Olvera Gálvez</td>
          <td>
            <svg class="svgNotas" fill="#368c44" viewBox="0 0 512 512" width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" stroke="#368c44"><g id="SVGRepo_bgCarrier" stroke-width="0" height="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Passed_exam"> <path d="M417.875,46H94.2126A13.2576,13.2576,0,0,0,81,59.2126V452.875A13.1835,13.1835,0,0,0,94.2126,466H417.875A13.1072,13.1072,0,0,0,431,452.875V59.2126A13.1814,13.1814,0,0,0,417.875,46ZM238.5,396.3493H151a13.125,13.125,0,0,1,0-26.25h87.5C255.7308,370.3674,255.7757,396.0737,238.5,396.3493Zm0-96.25H151a13.125,13.125,0,0,1,0-26.25h87.5C255.7308,274.1174,255.7757,299.8237,238.5,300.0993ZM273.85,194.75c-.2563,17.2351-25.9829,17.2672-26.25-.0011V126.7623a41.3874,41.3874,0,0,1,82.7747,0V194.75c-.282,17.2458-25.968,17.265-26.25-.0011V176.2866H273.85Zm96.4252,176.2241-43.0493,43.05a12.6979,12.6979,0,0,1-9.2755,3.8506,12.9869,12.9869,0,0,1-9.2755-3.8506l-18.2007-18.2c-11.918-12.3474,6.2036-30.6357,18.551-18.55l8.9252,8.9241,33.7738-33.7738C364.2043,340.5007,382.311,358.6587,370.2755,370.9741Zm0-96.25-43.0493,43.05a12.6979,12.6979,0,0,1-9.2755,3.8506,12.9869,12.9869,0,0,1-9.2755-3.8506l-18.2007-18.2c-11.918-12.3474,6.2036-30.6357,18.551-18.55l8.9252,8.9241,33.7738-33.7738C364.2043,244.2507,382.311,262.4087,370.2755,274.7241Z"></path> <path d="M304.125,126.7623a15.1374,15.1374,0,0,0-30.2747,0v23.2743H304.125Z"></path> </g> </g></svg>
            4.7
          </td>
        </tr> -->
      </tbody>
    </table>
    <div class="pages">
      <ul>
        <li class="active">
          <div>
            <button type="submit" name="page" value="1">1</button>
          </div>
        </li>
      </ul>
    </div>
  </div>



  <script lang="ts" type="module" src="/js/checkboxTable.js"></script>


  <style>
/* CHECKCED */
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
	 input[type='checkbox'] {
		 --active: #275efe;
		 --active-inner: #fff;
		 --focus: 2px rgba(39, 94, 254, .3);
		 --border: #bbc1e1;
		 --border-hover: #275efe;
		 --background: #fff;
		 --disabled: #f6f8ff;
		 --disabled-inner: #e1e6f9;
		 -webkit-appearance: none;
		 -moz-appearance: none;
		 height: 15px;
		 outline: none;
		 display: inline-block;
		 vertical-align: top;
		 position: relative;
		 margin: 0;
		 cursor: pointer;
		 border: 1px solid var(--bc, var(--border));
		 background: var(--b, var(--background));
		 transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
	}
	 input[type='checkbox']:after {
		 content: '';
		 display: block;
		 left: 0;
		 top: 0;
		 position: absolute;
		 transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
	}
	 input[type='checkbox']:checked {
		 --b: var(--active);
		 --bc: var(--active);
		 --d-o: 0.3s;
		 --d-t: 0.6s;
		 --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
	}
	 input[type='checkbox']:disabled {
		 --b: var(--disabled);
		 cursor: not-allowed;
		 opacity: 0.9;
	}
	 input[type='checkbox']:disabled:checked {
		 --b: var(--disabled-inner);
		 --bc: var(--border);
	}
	 input[type='checkbox']:disabled {
		 cursor: not-allowed;
	}
	 input[type='checkbox']:hover{
		 --bc: var(--border-hover);
	}
	 input[type='checkbox']:focus {
		 box-shadow: 0 0 0 var(--focus);
	}
	 input[type='checkbox']:not(.switch), input[type='radio']:not(.switch) {
		 width: 15px;
     margin-right: 3px;
	}
	 input[type='checkbox']:after{
		 opacity: var(--o, 0);
	}
	 input[type='checkbox']:checked {
		 --o: 1;
	}
	 input[type='checkbox'] {
		 font-size: 14px;
		 line-height: 21px;
		 display: inline-block;
		 vertical-align: top;
		 cursor: pointer;
	}
	 input[type='checkbox'] {
		 border-radius: 7px;
	}
	 input[type='checkbox']:after {
		 width: 4px;
		 height: 8px;
		 border: 2px solid var(--active-inner);
		 border-top: 0;
		 border-left: 0;
		 left: 4px;
		 top: 0px;
		 transform: rotate(var(--r, 20deg));
	}
	 input[type='checkbox']:checked {
		 --r: 43deg;
	}
	 input[type='checkbox'].switch {
		 width: 38px;
		 border-radius: 11px;
	}
	

	 input[type='radio'] {
		 border-radius: 50%;
	}
	 input[type='radio']:after {
		 width: 19px;
		 height: 19px;
		 border-radius: 50%;
		 background: var(--active-inner);
		 opacity: 0;
		 transform: scale(var(--s, 0.7));
	}
	 input[type='radio']:checked {
		 --s: 0.5;
	}

}
.checkPadding{
  padding:8px 5px !important;
}
.selected-row {
  background-color:#b0c2e0; /* Color de la fila seleccionada */
}

.selected-row td {
  color:#060606 !important;
  background-color: transparent !important; /* Quitar el fondo de los td cuando se selecciona la fila */
}
.svgNotas{
    top: 4px;
    position: relative;
}

a.btnview {
    margin: 0 auto;
    display: block;
    width: 20px;
    height: 20px;
    background: #569188;
    box-shadow: 0 1px 6px rgba(63,105,146,0.2);
    border: none;
    border-radius: 2em;
    color: #eef4ff;
    text-decoration: none;
    cursor: pointer;
    transition: all 300ms ease-out;
}
@media only screen and (max-width: 641px){
    .form-gridview table.default {
    overflow-x: auto !important;
}
}

@media only screen and (max-width: 990px) {
.form-gridview{
        overflow-x: auto;
        width: 100% !important;
    }
}

    
/*-------------------------------------------
  Formulario | GridView
-------------------------------------------*/

.form-gridview {
    float: left;
    margin: 0 0 35px 0;
    width: 71%;
    background: var(--bacgroundContent);
    box-shadow: 0 2px 2px rgba(73, 80, 104, 0.4);
    border-radius: 0.4em;
}

.form-gridview img.data-not-found,
.form-data img.data-not-found {
    overflow-x: hidden;
    display: block;
    width: 80%;
    margin: 2% auto 5%;
    pointer-events: none;
    user-select: none;
}

.form-gridview table.default,
.form-gridview table.users {
    width: 91%;
    margin: 4.5% auto 0;
    box-shadow: 0 1px 6px rgba(142, 136, 192, 0.2);
    border-collapse: collapse;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    overflow: hidden;
}

.form-gridview th {
    padding: 7px 15px;
    background: #282a36;
    color: #eef4ff;
    text-shadow: 0 1px 5px rgba(142, 136, 192, 0.2);
    border: none;
    text-align: left;
    font-size: 0.9em;
    font-weight: 500;
    text-transform: normal;
}

.form-gridview th.center {
    text-align: center;
}

.form-gridview th a.icon {
    color: #eef4ff;
    font-size: 1.2em;
    text-decoration: none;
}

.form-gridview td {
    padding: 8px 15px;
    background: #eef4ff;
    color: #4a567c;
    text-shadow: 0 1px 5px rgba(142, 136, 192, 0.2);
    border-bottom: solid #6273a495 1px;
    font-size: 0.9em;
    font-weight: 500;
    text-align: left;
    transition: all 300ms ease-out;
}

.form-gridview td.tdbreak {
    word-break: break-all;
}

.form-gridview td.tdbreakw {
    word-break: break-word;
}

.form-gridview td.center {
    text-align: center;
}

.form-gridview td button.btnview {
    margin: 0 auto;
    display: block;
    width: 20px;
    height: 20px;
    background: #569188;
    box-shadow: 0 1px 6px rgba(91, 133, 127, 0.2);
    border: none;
    border-radius: 2em;
    color: #eef4ff;
    text-decoration: none;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.form-gridview td button.btnview:hover,
.form-gridview td button.btnview:focus {
    background: #456661;
    border: 4px solid #6daaa3;
    transition: all 200ms ease-in;
}

.form-gridview td button.btnview:active {
    background: #569188;
    transition: all 200ms ease-in;
}

.form-gridview td button.btnedit {
    margin: 0 auto;
    display: block;
    width: 20px;
    height: 20px;
    background: #3f6992;
    box-shadow: 0 1px 6px rgba(63, 105, 146, 0.2);
    border: none;
    border-radius: 2em;
    color: #eef4ff;
    text-decoration: none;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.form-gridview td button.btnedit:hover,
.form-gridview td button.btnedit:focus {
    background: #2a4866;
    border: 4px solid #7eb2e2;
    transition: all 200ms ease-in;
}

.form-gridview td button.btnedit:active {
    background: #3f6992;
    transition: all 200ms ease-in;
}

.form-gridview td button.btndelete {
    margin: 0 auto;
    display: block;
    width: 20px;
    height: 20px;
    background: #db4949;
    box-shadow: 0 1px 6px rgba(219, 73, 73, 0.2);
    border: none;
    border-radius: 2em;
    color: #eef4ff;
    text-decoration: none;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.form-gridview td button.btndelete:hover,
.form-gridview td button.btndelete:focus {
    background: #aa3535;
    border: 4px solid #e77f7f;
    transition: all 200ms ease-in;
}

.form-gridview td button.btndelete:active {
    background: #db4949;
    transition: all 200ms ease-in;
}

.form-gridview tr:hover td {
    background: #dde8fc;
    transition: all 200ms ease-in;
}


.pages {
    display: block;
    text-align: center;
    margin: 2.8% 0 2.8% 3.8%;
    user-select: none;
}

.pages:after {
    display: block;
    content: "";
    clear: both;
}

.pages ul li {
    list-style: none;
}

.pages ul li button {
    margin: 0 10px 0 0;
    width: 5%;
    height: 22px;
    background: #7e8aac;
    box-shadow: 0 1px 6px rgba(142, 136, 192, 0.2);
    border: none;
    border-radius: 0.6em;
    color: #eef4ff;
    line-height: 23px;
    font-size: 0.625em;
    font-weight: 600;
    transition: all 300ms ease-out;
}

.pages ul li button:hover,
.pages ul li button:focus {
    background: #4c597e;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.pages ul li.active button {
    background: #6272a4;
}

.pages ul li.active button:hover,
.pages ul li.active button:focus {
    background: #7e8aac;
    cursor: pointer;
    transition: all 200ms ease-in;
}
  </style>
