---
---



<div class="form-gridview">
    <table class="users">
<tbody>
    <tr>
        <th>Usuario</th>
        <th>Correo</th>
        <th>Permisos</th>
        <th class="center"><a class="icon">edit</a></th>
    </tr>
    <tr>
        <td>admin</td>
        <td class="tdbreak">carmonabernaldiego@gmail.com</td>
        <td>admin</td>
        <td>
            <div>
                <button class="btnedit" onclick="location.href='/edit_users'" type="submit"></button>
            </div>
        </td>
    </tr>
    <tr>
        <td>admineb405</td>
        <td class="tdbreak">magnoliamontejogomez@gmail.com</td>
        <td>editor</td>
        <td>
            <div>
                <button class="btnedit" type="submit"></button>
            </div>
        </td>
    </tr>
    <tr>
        <td>adminec4e9</td>
        <td class="tdbreak">rosalindamendoza@gmail.com</td>
        <td>admin</td>
        <td>
            <div>
                <button class="btnedit" type="submit"></button>
            </div>
        </td>
    </tr>
    <tr>
        <td>editor</td>
        <td class="tdbreak">editor@gmail.com</td>
        <td>editor</td>
        <td>
            <div>
                <button class="btnedit" type="submit"></button>
            </div>
        </td>
    </tr>
    <tr>
        <td>tchr-0daed</td>
        <td class="tdbreak"></td>
        <td>teacher</td>
        <td>
            <div>
                <button class="btnedit" type="submit"></button>
            </div>
        </td>
    </tr>
</tbody>
</table>
    

    <div class="pages">
        <ul>
            <li class="active">
                <div>
                    <button type="submit" name="page" value="1">1</button>
                </div>
            </li>
        </ul>
    </div>
</div>
</div>


<style>

    
/*-------------------------------------------
  Formulario | GridView
-------------------------------------------*/

@media only screen and (max-width: 990px){
    .form-gridview {
    overflow-x: auto;
    width: 100% !important;
}
}

@media only screen and (max-width: 1186px){
    .content{
        flex-flow:column;
    }

.content-aside {
width: 60%;
}
}

.form-gridview {
    float: left;
    margin: 0 0 35px 0;
    width: 71%;
    background: var(--bacgroundContent);
    box-shadow: 0 2px 2px rgba(73, 80, 104, 0.4);
    border-radius: 0.4em;
}

.form-gridview img.data-not-found,
.form-data img.data-not-found {
    overflow-x: hidden;
    display: block;
    width: 80%;
    margin: 2% auto 5%;
    pointer-events: none;
    user-select: none;
}

.form-gridview table.default,
.form-gridview table.users {
    width: 91%;
    margin: 4.5% auto 0;
    box-shadow: 0 1px 6px rgba(142, 136, 192, 0.2);
    border-collapse: collapse;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    overflow: hidden;
    overflow-x: auto;
}

.form-gridview th {
    padding: 7px 15px;
    background: #282a36;
    color: #eef4ff;
    text-shadow: 0 1px 5px rgba(142, 136, 192, 0.2);
    border: none;
    text-align: left;
    font-size: 0.9em;
    font-weight: 500;
    text-transform: normal;
}

.form-gridview th.center {
    text-align: center;
}

.form-gridview th a.icon {
    color: #eef4ff;
    font-size: 1.2em;
    text-decoration: none;
}

.form-gridview td {
    padding: 8px 15px;
    background: #eef4ff;
    color: #4a567c;
    text-shadow: 0 1px 5px rgba(142, 136, 192, 0.2);
    border-bottom: solid #6273a495 1px;
    font-size: 0.9em;
    font-weight: 500;
    text-align: left;
    transition: all 300ms ease-out;
}

.form-gridview td.tdbreak {
    word-break: break-all;
}

.form-gridview td.tdbreakw {
    word-break: break-word;
}

.form-gridview td.center {
    text-align: center;
}

.form-gridview td button.btnview {
    margin: 0 auto;
    display: block;
    width: 20px;
    height: 20px;
    background: #569188;
    box-shadow: 0 1px 6px rgba(91, 133, 127, 0.2);
    border: none;
    border-radius: 2em;
    color: #eef4ff;
    text-decoration: none;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.form-gridview td button.btnview:hover,
.form-gridview td button.btnview:focus {
    background: #456661;
    border: 4px solid #6daaa3;
    transition: all 200ms ease-in;
}

.form-gridview td button.btnview:active {
    background: #569188;
    transition: all 200ms ease-in;
}

.form-gridview td button.btnedit {
    margin: 0 auto;
    display: block;
    width: 20px;
    height: 20px;
    background: #3f6992;
    box-shadow: 0 1px 6px rgba(63, 105, 146, 0.2);
    border: none;
    border-radius: 2em;
    color: #eef4ff;
    text-decoration: none;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.form-gridview td button.btnedit:hover,
.form-gridview td button.btnedit:focus {
    background: #2a4866;
    border: 4px solid #7eb2e2;
    transition: all 200ms ease-in;
}

.form-gridview td button.btnedit:active {
    background: #3f6992;
    transition: all 200ms ease-in;
}

.form-gridview td button.btndelete {
    margin: 0 auto;
    display: block;
    width: 20px;
    height: 20px;
    background: #db4949;
    box-shadow: 0 1px 6px rgba(219, 73, 73, 0.2);
    border: none;
    border-radius: 2em;
    color: #eef4ff;
    text-decoration: none;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.form-gridview td button.btndelete:hover,
.form-gridview td button.btndelete:focus {
    background: #aa3535;
    border: 4px solid #e77f7f;
    transition: all 200ms ease-in;
}

.form-gridview td button.btndelete:active {
    background: #db4949;
    transition: all 200ms ease-in;
}

.form-gridview tr:hover td {
    background: #dde8fc;
    transition: all 200ms ease-in;
}


.pages {
    display: block;
    text-align: center;
    margin: 2.8% 0 2.8% 3.8%;
    user-select: none;
}

.pages:after {
    display: block;
    content: "";
    clear: both;
}

.pages ul li {
    list-style: none;
}

.pages ul li button {
    margin: 0 10px 0 0;
    width: 5%;
    height: 22px;
    background: #7e8aac;
    box-shadow: 0 1px 6px rgba(142, 136, 192, 0.2);
    border: none;
    border-radius: 0.6em;
    color: #eef4ff;
    line-height: 23px;
    font-size: 0.625em;
    font-weight: 600;
    transition: all 300ms ease-out;
}

.pages ul li button:hover,
.pages ul li button:focus {
    background: #4c597e;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.pages ul li.active button {
    background: #6272a4;
}

.pages ul li.active button:hover,
.pages ul li.active button:focus {
    background: #7e8aac;
    cursor: pointer;
    transition: all 200ms ease-in;
}

</style>